/*-----系统修饰----------*/
* {
  /*取消系统文本外边距*/
  margin: 0rem;
  /*取消系统文本内边距*/
  padding: 0rem; 
}
html body {
  /*边缘距离*/
  margin: 0rem;
  /*指定高度*/
  height: 100%;
  /*控制元素内边距区域*/
  padding: 0rem;
  background: #ffffff;
}
/*--------网页顶部文本修饰部分--------*/
.roof {
  /*固定当前位置不动*/
  position: absolute;
  /*距离顶部的像素*/
  top: 1.5625rem;
  /*距离左边框的像素*/
  left: 7.5rem;
  /*设置文字类型及大小*/
  font: 1.5rem/1 "Microsoft YaHei", "微软雅黑", "arial", "tahoma",
    "MicrosoftJhengHei";
  /*指定文字颜色*/
  color: white;
}
#harder {
  /*自适应宽度*/
  width: auto;
  /*指定高度*/
  height: 5rem;
  /*指定背景颜色*/
  background-color: #333333;
}
.top-img {
  /*固定开头*/
  position: absolute;
  /*距离顶部的像素*/
  top: 1.4375rem;
  /*距离左边框的像素*/
  left: 4.8125rem;
}
/*---------网页导航栏文本修饰部分-----------*/
#navigation-bar {
  /*设置弹性盒模型 为了在窗口小的情况下，不变形*/
  display: flex;
  /*内边距*/
  padding: 0rem;
  /*边缘缝隙*/
  margin: 0rem;
  /*背景颜色*/
  background-color: #212121;
  /*行高*/
  line-height: center;
  /*背景宽度*/
  padding: 1.25rem 0.625rem;
}
.itm {
  /*居中显示*/
  text-align: center;
  /*设置宽度*/
  width: 11.8125rem;
  /*字体大小*/
  font-size: 0.9375rem;
  /*字体颜色*/
  color: #ffffff;
  /*取消超链接修饰*/
  text-decoration: none;
}
.itm:hover {
  /*点击后放大的倍数*/
  transform: scale(1.3);
  /*改变放大后的字体颜色*/
  color: darkorange;
}
/*-----------网页的前半部分文本修饰部分----------*/
#nav {
  /*设置自适应宽度*/
  width: auto;
  /*设置高度为300px*/
  height: 18.75rem;
  background:no-repeat center/50% url(../img/img-1.jpg);
  }
  .nav-img{
    width: 39.5%;
    position: absolute;
    left: 0%;
    float: left;
  }
.nav-img-a{
  width: 5%;
  position: absolute;
  right: 35%;
}
/*---------网页的正文文本修饰部分--------*/
#middle{
  width: 89%;
  height: 21.25rem;
  margin: auto;
  left: 5%;
  background: #ffffff;
  overflow: hidden;
}
.middle-a {
  width: 12.5rem;
  height: 18.75rem;
  margin: .625rem;
  padding: .625rem;
  float: left;
  border-radius: 30px;
  position: relative;
  background:#4B88EF;
}
.middle-a:hover{
  background:yellow;
}
.middle-b {
  width: 12.5rem;
  height: 18.75rem;
  margin: .625rem;
  padding: .625rem;
  float: left;
  border-radius: 30px;
  position: relative;
  background:#4B88EF;
}
.middle-b:hover{
  background: yellow;
}
.middle-c {
  width: 12.5rem;
  height: 18.75rem;
  margin: .625rem;
  padding: .625rem;
  float: left;
  border-radius: 30px;
  position: relative;
  background:#4B88EF;
}
.middle-c:hover{
  background: no-repeat center /80% url(../img/img-2.jpg);
}
.middle-d {
  width: 12.5rem;
  height: 18.75rem;
  margin: .625rem;
  padding: .625rem;
  float: left;
  border-radius: 30px;
  position: relative;
  text-align: center;
  background:#4B88EF;
}
.middle-d:hover{
  background:yellow;
}
.middle-e {
  width: 12.5rem;
  height: 18.75rem;
  margin: .625rem;
  padding: .625rem;
  float: left;
  border-radius: 30px;
  position: relative;
  text-align: center;
  background: #4B88EF;
}
.middle-e:hover{
  background:yellow;
}
.gzh{
  position: absolute;
  left: 25%;
  bottom: 15%;
}
.wxicon{
  width: 3%;
  position: fixed;
  bottom: 150px;
  right: 20px;
}
.wxicon:hover{
  border-radius: 1.25rem;
  background: black;
}
.top{
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 6.25rem;
  right: 20px;
}
.top:hover{
  /*设置圆角*/
  border-radius: 60%;
  background: black;
}
.gitee{
  position: absolute;
  right: 1.25rem;
  bottom: 3.125rem;
  text-decoration: none;
}
.github{
  position: absolute;
  left: 1.25rem;
  bottom: 3.125rem;
  text-decoration: none;
}
.middle-d input{
  /*使input变为块元素*/
  display: block;
  /*取消按钮内边框*/
  border: none;
  /*取消按钮外边框*/
  outline: none;
  height: 2.5rem;
  width: 5rem;
  background: blanchedalmond;
  color: black;
  /*设置圆角*/
  border-radius: 1.25rem;
}
.middle-d input:hover{
  background: #4B88EF;
  color: black;
  text-decoration: underline;
}
.middle-d p{
  width: 9.375rem;
  height: 6.875rem;
  position: absolute;
  top: 3.75rem;
  left: 18%;
}
/*-----------miast部分修饰-------------*/
section{
  width: 800px;
  height: 300px;
  margin: 10px auto;
}
section article{
  width: 200px;
  height: 300px;
  float: left;
  overflow: hidden;
  border-radius: 6px;
}
.midst-a{
  background:#373334;
  color: white;
}
.midst-b{
  background:#C8D7D2;
}
.midst-c{
  background:#F3F2F0;
}
.midst-d{
  background:#D74339;
}
section:hover article{
  width: 50px;

}
section .midst-a:hover{
  width: 650px;
  overflow: auto;
  margin: auto;
}
section .midst-b:hover{
  width: 650px;
  overflow: auto;
}
section .midst-c:hover{
  width: 650px;
  overflow: auto;
}
section .midst-d:hover{
  width: 650px;
  overflow: auto;
}
h4{
  text-align: center;
}
#qwer{
  width: auto;
  height: 31.25rem;
}
/*--------网页底部说明文本修饰部分------*/
 footer {
  width: auto;
  line-height: 2.8125rem;
  color: grey;
  text-align: center;
  background: #333333;
  position: relative;
}
.base-a {
  font-size: 1.25rem;
  text-align: center;
  padding: 0rem;
}
#bottom a{
  width:500px;
  color: gray;
  margin:auto;
  padding:20px 0;
  text-decoration: none;
}
#bottom a:hover{
  text-decoration: underline;
  color: #4B88EF;
}
